* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

.container {
	height: 100vh;
	width: 100vw;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* padding-bottom: 80px; */
	border: 3px solid red;
}

.container .content {
	width: 99%;
	border: 3px solid yellow;
	height: 99%;
	margin: auto ;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	position: relative;
}

.nav-bar{
	position: absolute;
	display: flex;
	align-items: center;
	height: 10%;
	width: 100%;
	border: 2px solid goldenrod;
	justify-content: space-between;
	top: 5px;
	
}

.container .content h3 {
	text-transform: uppercase;
	font-size: 5vw;
}

.container .content p {
	font-size: 20px;
	padding: 10px 0;
}

.container .content p span {
	color: crimson;
}

.dashboard-button {
	display: inline-block;
	padding: 10px 35px;
	font-size: 20px;
	margin-top: 10px;
	background-color: #000;
	color: #fff;
}

.dashboard-button:hover , .Addtocart:hover , .profileName:hover {
	background-color: crimson;
}

table,
th,
td {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	
}

td {
	min-width: 53px;
}

.Addtocart{
	display: inline-block;
	padding: 6px 7px;
  font-size: 11px;
	background-color: #000;
	color: #fff;
}

.cartbutton {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 20px;
}

.profileName {
display: flex;
align-items:flex-start;
justify-content: flex-start;
	top: 20px;
	left: 30px;
	font-size: 20px;
	display: inline-block;
	padding: 10px 35px;
	font-size: 20px;
	margin-top: 10px;
	background-color: #000;
	color: #fff;
	border: 1px solid red;
}

